In [59]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key as g_key

In [41]:
#pip install ipywidgets
!jupyter nbextension enable widgetsnbextension --py

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [42]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-07-14 04:17:00,-21.2000,-175.2000,71.76,88,75,13.80
1,1,Vanino,RU,2021-07-14 04:21:54,49.0869,140.2543,84.72,55,97,7.92
2,2,Hobart,AU,2021-07-14 04:14:45,-42.8794,147.3294,55.11,90,75,1.01
3,3,Guerrero Negro,MX,2021-07-14 04:15:40,27.9769,-114.0611,69.91,80,21,13.82
4,4,Bluff,NZ,2021-07-14 04:16:42,-46.6000,168.3333,49.80,80,100,22.84

In [43]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [44]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [45]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [46]:
gmaps.__version__

'0.9.0'

In [68]:
#!pip uninstall python-gmaps
#!pip install gmaps
#!jupyter nbextension enable --py --sys-prefix gmaps

In [48]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#print(locations)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vanino,RU,2021-07-14 04:21:54,49.0869,140.2543,84.72,55,97,7.92
5,5,Alofi,NU,2021-07-14 04:17:33,-19.0595,-169.9187,78.69,89,50,11.50
23,23,Hasaki,JP,2021-07-14 04:17:20,35.7333,140.8333,84.29,84,93,8.12
25,25,Santa Cruz,BO,2021-07-14 04:21:56,-17.8000,-63.1667,77.58,49,35,8.52
32,32,Pangai,TO,2021-07-14 04:21:57,-19.8000,-174.3500,80.71,74,75,5.75
35,35,Korla,CN,2021-07-14 04:21:58,41.7597,86.1469,81.84,36,100,5.35
36,36,Chidambaram,IN,2021-07-14 04:21:58,11.4000,79.7000,87.62,53,100,8.79
37,37,Labuhan,ID,2021-07-14 04:19:02,-6.8844,112.2051,83.97,57,100,4.45
43,43,Winnemucca,US,2021-07-14 04:21:59,40.9730,-117.7357,82.45,16,1,3.44
45,45,Kapaa,US,2021-07-14 04:16:57,22.0752,-159.3190,84.18,77,20,14.97

In [54]:
preferred_cities_df.count()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [55]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [56]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1        Vanino      RU     84.72  49.0869  140.2543
5         Alofi      NU     78.69 -19.0595 -169.9187
23       Hasaki      JP     84.29  35.7333  140.8333
25   Santa Cruz      BO     77.58 -17.8000  -63.1667
32       Pangai      TO     80.71 -19.8000 -174.3500
35        Korla      CN     81.84  41.7597   86.1469
36  Chidambaram      IN     87.62  11.4000   79.7000
37      Labuhan      ID     83.97  -6.8844  112.2051
43   Winnemucca      US     82.45  40.9730 -117.7357
45        Kapaa      US     84.18  22.0752 -159.3190

In [57]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [61]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [62]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vanino,RU,84.72,49.0869,140.2543,Гостиница 5 Звезд
5,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
23,Hasaki,JP,84.29,35.7333,140.8333,Hotel Sunrise Choshi
25,Santa Cruz,BO,77.58,-17.8000,-63.1667,Aviador Hotel Boutique
32,Pangai,TO,80.71,-19.8000,-174.3500,Ha'apai Beach Resort
35,Korla,CN,81.84,41.7597,86.1469,Gulisitan Hotel
36,Chidambaram,IN,87.62,11.4000,79.7000,Hotel Akshaya
37,Labuhan,ID,83.97,-6.8844,112.2051,PT PPI Lamongan Tambak C
43,Winnemucca,US,82.45,40.9730,-117.7357,Winners Inn Casino
45,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [63]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [66]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [67]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))